.container {
  height: 100%;
  width: auto;
  background-color: rgba(218, 223, 225, 1);
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.main-content .left {
  flex: 3;
  text-align: center;
  margin: 0 50px;
}

.main-content .right {
  flex: 1;
  text-align: center;
  background-color: #fff;
  margin: 30px 0;
  align-self: flex-start;
}

.main-content .right p {
  font-size: 14px;
  line-height: 21px;
  overflow-wrap: break-word;
  font-weight: 400;
  padding: 15px;
  text-transform: none;
  text-align: left;
}

.btnGroup {
  height: 100%;
  width: auto;
}

.btnGroup a {
  display: block;
  padding: 15px 18px;
  margin: 15px 20px;
}

.btnGroup a:first-child {
  text-decoration: none;
  background-color: rgb(0, 121, 211);
  color: #fff;
  border-radius: 5px;
}

.btnGroup a:last-child {
  text-decoration: none;
  color: rgb(0, 121, 211);
  border: 1px solid rgb(0, 121, 211);
  border-radius: 5px;
}

.topic-feed {
  height: auto;
  background-color: rgba(238, 238, 238, 1);
  padding: 2em;
  text-align: left;
  position: relative;
  margin: 2em 0;
}

.topic-header {
  margin: 0 0 15px 0;
}

.topic-header h1 {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.topic-body {
  font-weight: 100;
  margin: 15px 0;
}

.topic-body p {
  font-weight: 100 !important;
  font-size: 18px;
}

.topic-footer {
  margin: 25px 0 0 0;
}

.topic-footer span {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 900;
  padding: 0 15px 0 0;
}
